<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Generated Doc</title>
</head>
<%
const httpMethod = {
    'GET':"primary",
    'POST':"info",
    'PATCH':"success",
    'UPDATE':"warning",
    'DELETE':"danger"
  }
%>

<body class="d-flex flex-column h-100" style="min-height: 100vh;">
    <div class="container flex-shrink-0">
        <br />
        <h1>Документация v0.2.2</h1>
        <hr>
        <% 
        let methodCount = 0;
        for (const iter of data) {%>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> <strong>Api Prefix: </strong><a href="#"><%= iter.prefix %> </a></li>
        </ol>
        <% 
        for (const key of Object.keys(iter.routes))
         {  
             const route = iter.routes[key];
            %>
        <p>
            <div class="alert alert-<%= httpMethod[route.method] %>">
                <a href="#" onclick="toggleDescription(<%= methodCount %>)">
                    <span class="badge badge-<%= httpMethod[route.method] %>"><%= route.method %></span>
                    <%= iter.prefix %><%= route.path%>
                </a>
            </div>

        </p>
        <div id="methodId<%= methodCount%>"
            style="display:none; background-color: #FCFCFC; padding:15px; border:1px solid #CCC;">
            <blockquote><%= route.description %></blockquote>
            <hr>
            <div class="row">
                <div class="col">
                    <p><kbd>Входные данные:</kbd></p>
                    <% if (route.inData) { %>
                    <code><%= JSON.stringify(route.inData); %></code>
                    <br />
                    <b>
                        <p>Сгенерированная форма:</p>
                    </b>
                    <form action="<%= iter.prefix %><%= route.path%>" method="<%= route.method %>">
                        <% for (const inDataIter of Object.keys(route.inData)) {
                            const curInDataField = route.inData[inDataIter];
                            %>

                        <div class="form-group">
                            <label><%= inDataIter %></label>
                            <input type="input" class="form-control" name="<%= inDataIter %>" placeholder="<%= route.inData[inDataIter] %>">
                        </div>
                        <% } %>
                        <button type="submit" class="btn btn-info">Отправить</button>
                    </form>
                    <% } %>
                </div>
                <div class="col">
                    <p><kbd>Выходные данные:</kbd></p>
                    <% if (route.outData) { %>
                    <p><code><%= JSON.stringify(route.outData); %></code></p>
                    <% } %>
                </div>
            </div>
            <hr>
            <a href="<%= iter.prefix %><%= route.path%>" class="btn btn-success">Перейти по роуту</a>
        </div>

        <% methodCount++; } %>
        <% } %>
    </div>
    <footer class="footer mt-auto py-3 bg-dark ">
        <div class="container">
            <span class="text-light">Разработано с использованием <a
                    href="https://github.com/qvlxty/STSF">STSF</a></span>
        </div>
    </footer>
</body>
<script>
    function toggleDescription(id) {
        let elStyle = document.getElementById(`methodId${id}`).style;
        elStyle.display = elStyle.display === 'none' ? 'block' : 'none';
    }
</script>
<style>
    main>.container {
        padding: 60px 15px 0;
    }

    .footer {
        background-color: #f5f5f5;
    }

    .footer>.container {
        padding-right: 15px;
        padding-left: 15px;
    }

    code {
        font-size: 80%;
    }
</style>

</html>